# URL приложения
BASE_URL=https://xn--80aaflb9bhhgedfdgh.xn--p1ai

# Учетные данные Пользователя 1 (Иван Иванов)
USER1_EMAIL=
USER1_PASSWORD=

# Учетные данные Пользователя 2 (Петр Петров)
USER2_EMAIL=
USER2_PASSWORD=

# Testy
TESTY_API_URL=
TESTY_USERNAME=
TESTY_PASSWORD=
TESTY_PLAN_ID=430
